    * {
        margin: 2;
        padding: 2;
        background-color: gray;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        width: max-content;
        height: auto;
    }
    .topnav {
            display: flex;
            justify-content: center;
            gap: 40px;
        }
    
    .title {
            font-family: Arial, Helvetica, sans-serif;
    }

    .subtitle {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
    }

    .contact-body {
            text-align: center;
    }