    * {
        margin: 0;
        padding: 0;
        background-color: gray;
    }

    img {
        width: max-content;
        height: auto;
    }
    .topnav {
            display: flex;
            justify-content: center;
            gap: 40px;
        }